* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: auto;
  /* height: 498px; */
  min-width: 318px;
  max-width: 318px;
  background-color: #26313E;
}
.input-in, .input-out {
  border: none;
  /* display: flex;
  justify-content: end; */
  /* text-align: right; */
  direction: rtl; 
  outline: none;
  padding: 2px 15px;
  min-height: 45px;
  width: 100%;
  font-size: 35px;
  color: white;
  background-color: #78909C;
  overflow-x: scroll;
  scrollbar-width: none;
};
input::placeholder{color: white;}
#input, #outputDisplay {
  /* border: 1px solid black; */
  border: none;
  text-align: right;
  outline: none;
  padding: 5px 15px;
  /* height: 193px; */
  width: 100%;
  font-size: 35px;
  color: white;
  background-color: #78909C;
  overflow: visible;
}

.the-keys {
  display: grid;
  /* gap: .8rem; */
  grid-template-columns: repeat(4, 1fr);
  background-color: #26313E;
}

button {
  height: 62px;
  border: 1px solid #E5E9EC;
} 

.fill {
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  height: 100%;
  border-radius: 40% 0;
}
.operator{
  border: 1px solid white;
  background-color: #E4E9EC;
}
.equals{
  background-color: #FF6567;
}
@media (min-width:300px) and (max-width:550px) {
  .container{
    width: 100%;
    height: 100%;
  }
}