/* container m-auto h-[100vh] min-w-[318px] max-w-[400px] md:max-w[400px] bg-[#F7F8FB] */
/* bg-white border text-[35px] text-right outline-none h-[200px] w-full */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
  margin: auto;  
  height: 100%;
  min-width: 318px;
  max-width: 400px;
}
#input{
  /* border: 1px solid black; */
  border: none;
  text-align: right;
  outline: none;
  height: 185px;
  width: 100%;
  font-size: 35px;
  color: white;
  background-color: #232D36;
}
.the-keys{
  padding: 15px;
  display: grid;
  gap: .8rem;
  grid-template-columns: repeat(4,1fr);
  background-color: #26313E;
}
button{
  width: 45px;
  height: 45px;
  border-radius: 100%;
}
.fill{
  grid-row-start: 4;
  grid-row-end: 6;
  grid-column-start: 4;
  height: 100%;
  border-radius: 40% 0;
  width: 55px;
}